


  <div class=" h-62 grid grid-rows-1 grid-flow-col gap-4">
    
 <a class="bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500  rounded box-borer h-60 w-60 text-black mt-5" href="/reservations">Make a reservation</a>
  {{!-- <div></div> --}}
  <a class=" bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500  rounded box-borer h-60 w-60 text-black mt-96 " href="/reservations">Make a reservation</a>
</div>


{{!-- <a class="bg-white rounded p-3 text-black mt-5" href="/reservations">Make a reservation</a> --}}

<link rel="stylesheet" href="/css/homepage.css">






